@use "../utilities/variables.scss" as *;
@use "../utilities/mixin.scss" as *;

html {
  &[data-theme="light"] {
    .header-logo {
      .dark {
        display: none;
      }
    }
  }

  &[data-theme="dark"] {
    .header-logo {
      .light {
        display: none;
      }
      .dark {
        display: block;
      }
    }
  }
}

header {
    position: relative;

    .header-inner {
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .language-switcher {
        margin: 0;
        padding: 0;
        list-style: none;

        a {
            padding: 0.6rem 1rem;
            display: inline-flex;
            align-items: center;
            column-gap: 0.6rem;
            font-size: 1.4rem;
            font-weight: $semiBold;
            line-height: normal;
            color: $primaryColor;
            text-transform: uppercase;
            border: 1px solid $primaryColor;
            border-radius: 3rem;

            svg {
                font-size: 2rem;
            }
        }
    }

    .slogan {
        padding: 15rem 0;
        text-align: right;
        font-family: $primaryFont;
        font-size: 11rem;
        font-weight: $extraBold;
        line-height: 1.2;

        span {
            text-transform: uppercase;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px $primaryColor;
        }

        p {
            margin-bottom: 0;
        }

        .anim_line {
            position: relative;
            overflow: hidden;
        }
    }

    .logo-menu {
        position: relative;

        .circle {
            width: 3.6rem;
            height: 3.6rem;
            border-radius: 50%;
            background-color: transparent;
            border: 0.5rem solid $primaryColor;
        }
    }

    #btn-hamburger {
        padding: 0 2rem;
        border: none;
        border-radius: 3px;
        outline: 0;
        cursor: pointer;

        .line-1,
        .line-2,
        .line-3 {
            width: 22px;
            height: 2px;
            background-color: $primaryColor;
            margin: 4px 0;
            transition: 0.4s;
        }
        &.animeOpenClose .line-1 {
            -webkit-transform: rotate(-45deg) translate(-4px, 4px);
            transform: rotate(-45deg) translate(-4px, 4px);
        }
        &.animeOpenClose .line-2 {
            opacity: 0;
        }
        &.animeOpenClose .line-3 {
            -webkit-transform: rotate(45deg) translate(-4px, -4px);
            transform: rotate(45deg) translate(-4px, -4px);
        }
    }

    nav.nav-menu {
        margin-left: 1rem;
        position: relative;
        background-color: transparent;
        box-shadow: 0px 0px 0 5px $primaryColor;
        border-radius: 3rem;
        width: 6.2rem;
        -webkit-transition: width 0.5s;
        -moz-transition: width 0.5s;
        -o-transition: width 0.5s;
        transition: width 0.5s;
        display: flex;
        align-items: center;

        &.actived {
            width: 100%;
            -webkit-transition: width 0.5s;
            -moz-transition: width 0.5s;
            -o-transition: width 0.5s;
            transition: width 0.5s;
            box-shadow: 0px 0px 0 2px $primaryColor;

            ul.main-menu {
                visibility: visible;
                opacity: 1;
                transition: visibility 0s 0.45s, opacity 0.45s 0.45s;
                overflow: visible;
            }

            &::before {
                content: none;
            }
        }

        ul.main-menu {
            margin: 0;
            position: relative;
            display: flex;
            column-gap: 3rem;
            align-items: center;
            list-style: none;
            visibility: hidden;
            opacity: 0;
            overflow: hidden;

            li {
                position: relative;

                a {
                    padding: 0.2rem 2rem;
                    display: block;
                    font-family: $secondaryFont;
                    font-size: 1.8rem;
                    color: $primaryColor;
                    font-weight: $regular;
                    line-height: normal;
                    min-width: max-content;
                }

                &:hover  ul.sub-menu {
                    visibility: visible;
                    transform: translateX(0);
                    opacity: 1;
                    -webkit-transform: translateZ(0) perspective(1px);
                    transform: translateZ(0) perspective(1px);
                    transition: visibility 150ms cubic-bezier(0.645, 0.045, 0.355, 1),
                    opacity 0.35s cubic-bezier(0.19, 1, 0.22, 1),
                    -webkit-transform 0.55s cubic-bezier(0.19, 1, 0.22, 1);
                    transition: visibility 150ms cubic-bezier(0.645, 0.045, 0.355, 1),
                    opacity 0.35s cubic-bezier(0.19, 1, 0.22, 1),
                    transform 0.55s cubic-bezier(0.19, 1, 0.22, 1);
                    transition: visibility 150ms cubic-bezier(0.645, 0.045, 0.355, 1),
                    opacity 0.35s cubic-bezier(0.19, 1, 0.22, 1),
                    transform 0.55s cubic-bezier(0.19, 1, 0.22, 1),
                    -webkit-transform 0.55s cubic-bezier(0.19, 1, 0.22, 1);
                    -webkit-transition: visibility 150ms
                        cubic-bezier(0.645, 0.045, 0.355, 1),
                    opacity 0.35s cubic-bezier(0.19, 1, 0.22, 1),
                    -webkit-transform 0.55s cubic-bezier(0.19, 1, 0.22, 1);
                }
            }

            ul.sub-menu {
                padding-left: 0;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                min-width: max-content;
                list-style: none;
                opacity: 0;
                visibility: hidden;
                transform: translateY(10px) perspective(1px);
                -webkit-transform: translateY(10px) perspective(1px);
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                transition: visibility 250ms ease, opacity 250ms ease,
                -webkit-transform 0.55s cubic-bezier(0.19, 1, 0.22, 1);
                transition: visibility 250ms ease, opacity 250ms ease,
                transform 0.55s cubic-bezier(0.19, 1, 0.22, 1);
                transition: visibility 250ms ease, opacity 250ms ease,
                transform 0.55s cubic-bezier(0.19, 1, 0.22, 1),
                -webkit-transform 0.55s cubic-bezier(0.19, 1, 0.22, 1);
                -webkit-transition: visibility 250ms ease, opacity 250ms ease,
                -webkit-transform 0.55s cubic-bezier(0.19, 1, 0.22, 1);

                li {
                    position: relative;
                    transition: all 0.4s;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 0;
                        height: 1px;
                        background-color: $primaryColor;
                        transition: all 0.4s;
                    }

                    &:hover {
                        &::after {
                            width: 1rem;
                        }

                        a {
                            transform: translateX(1rem);
                        }
                    }

                    a {
                        padding: 1rem 0.8rem;
                        display: block;
                        font-size: 1.6rem;
                        transition: all 0.4s;
                    }
                }
            }

            li.mega-menu {
                ul.sub-menu {
                    li {
                        &:hover .menu-img {
                            visibility: visible;
                            opacity: 1;
                        }

                        .menu-img {
                            visibility: hidden;
                            opacity: 0;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 50%;
                            transform: translateY(-50%);
                            left: 100%;
                            object-fit: contain;
                            transition: all 0.4s;
                        }
                    }
                }
            }
        }
    }

    .search-icon__btn {
        font-size: 3rem;
        color: $primaryColor;
    }
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}
